var filters = {
  toFix: function (value, digital) {
    value = parseFloat(value);
    return value.toFixed(digital);//此处2为保留两位小数
  },
  getInt: function (value) {
    return parseInt(value);
  },
  getDigital: function (value, digital) {
    value = parseFloat(value);
    var str = value.toFixed(digital);

    return str.slice(str.indexOf('.') + 1);
  },
  formatNumber: function(n) {
    n = n.toString();
    return n[1] ? n : '0' + n;
  }
}

module.exports = {
  toFix: filters.toFix,
  getInt: filters.getInt,
  getDigital: filters.getDigital,
  formatNumber: filters.formatNumber
}